.home-page {
    background-color: #171610; 
    color: #ffffff; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    padding-top: 1%;

    .featured-serie .gradient-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60%; 
      background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
      pointer-events: none;
      border-radius: 20px;
    }

    .featured-serie .text-content {
      position: relative;
      z-index: 1; 
      padding: 20px;
    }

    .featured-serie .overlay {
      color: #ffffff;
    }

    .featured-serie {
      background-size: cover;
      background-position: center;
      position: relative;
      width: 95%;
      margin-left: 3%;
      height: 470px;
      border-radius: 20px;
      background-size: cover;
      background-position: center -1000px;
      color: #ffffff;
      display: flex;
      justify-content: flex-start;
      align-items: end;
      font-size: 2em;
      }

      .add-button-featured {
        position: absolute;
        top: -200px;
        right: 15px;
        background-color: rgba(58, 57, 57, 0.571);
        border: none;
        color: #ffffff;
        font-size: 35px;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        padding: 9px 20px;
        border-radius: 25%;
      
        &.clicked {
          background-color: orange;
          color: #ffffff;
          padding: 9px 18px;
          font-size: 32px;
        }
      
        &:hover {
          opacity: 1;
        }
      }

      .serie-list {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
      
        .serie-item {
          position: relative;
          width: 18%;
          padding: 5px;
          padding-bottom: 35px;
        
          .serie-image {
            width: 100%;
            height: auto;
            max-height: 100%;
            max-width: 190px;
            border-radius: 10px;
            object-fit: cover;
          }
        
          .add-button {
            position: absolute;
            top: 15px;
            right: 80px;
            background-color: rgba(58, 57, 57, 0.571);
            border: none;
            color: #ffffff;
            font-size: 22px;
            cursor: pointer;
            transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
            padding: 5px 11px;
            border-radius: 25%;
          }
        
          .add-button.clicked {
            background-color: orange;
            color: #ffffff;
            padding: 5px 10px;
            font-size: 20px;
          }
        
          &:hover .add-button {
            opacity: 1;
          }
        }
      }


      .Filter {
        display: flex;
        margin: 10px 3%;
      }
      
      .filter-button {
        background-color: #f1f1f1;
        color: black;
        padding: 10px 10px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        border-radius: 10px;
        margin-right: 1%;
      }
      
      .filter-button.selected {
        background-color: #ffe88b;
      }

    .overlay{
      margin-left: 2%;
      width: 45%;
    }

    .TitleOverlay{
      font-size: 1.5em;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }

    .OverviewOverlay{
      font-size: 0.5em;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }

    .OptionOverlay {
      .bubble {
        background-color: #ffffff;
        border-radius: 20px;
        color: black;
        font-size: 20px;
        display: inline-block;
      }
    }

    .FormSearch{
      display: flex;
      justify-content: center;
      margin: 1%;
    }

    .TitleSerie{
      font-size: 1.1em;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  
    .search-bar {
      margin: 1%;
      display: flex;
      align-items: center;
      width: 95%; 
      background-color: #2d2c26;
      border-radius: 20px; 
      padding: 10px;
  
      .search-icon {
        margin-right: 10px;
        color: #ffffff;
      }
  
      input {
        flex-grow: 1;
        border: none; 
        color: #ffffff;
        background-color: transparent; 
        outline: none;
        font-size: 16px;
        padding: 10px 0; 
      }
    }
  }