// NavBar.scss
.navbar {
    background-color: #3b392e;
    color: #ffffff; 
    display: flex;
    justify-content: space-around; 
    padding: 20px 0; 
  
    a {
      color: #ffffff; 
      text-decoration: none; 
  
      &:hover {
        color: #ff0000; 
      }
    }
  }